body{
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
}
h1{
    font-size: 40px;
}
.color-header{
    margin-top: -25px;
}
.name-color{
    color: rgb(41, 102, 176);
}
.flexible-section{
    display: flex;
}
.dream-big{
    margin-top: 100px;
}
.half-width{
width: 50%;
padding-top: 10px;
padding-left: 100px;
padding-right: 95px;
}
.half-width img{
    width: 80%;
    padding-top: 50px;
    padding-left: 0;
}
.link-button{
    color: white;
    background-image: linear-gradient(rgb(90, 141, 241), rgb(41, 102, 176));
    text-decoration: none;
    padding: 7px 14px;
    border-radius: 4px;
    font-size: 15px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px 203px;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 80px 163px;
    margin-top: 100px
}
.box-shadow{
    box-shadow: 10px 10px 40px gray;
    width: 50%;
    margin-left: 100px;
    margin-right: 100px;
    padding: 30px;
    border-radius: 10px;
}
#fsd{
    border-left: 8px solid tomato;
}
#bwd{
    border-left: 8px solid rgb(90, 141, 241);
}
footer p{
    text-align: center;
    margin-top: 100px;
}
#exp-h1{
    padding-left: 100px;
}


